body {
    background-image: url(../nome\ de\ usuario.png);
    height: 95vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 105%;
    
}

.botaoo{
    background-color:   red;
    color: black;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 800px 70px;
    margin-bottom: auto;
}