.botaoo1{
    background-color: orange;
    color: black;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 0px 70px;
    
    
}

.texto1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 60px;
    padding: -12px 20px;
    margin: 80px 50px;
}

.texto2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    margin: 80px 50px;
}

.img{
    width: 85px;
    height: 100px;
    padding: -10px 10px;
    display: flex;
}


